<div class="articles fixed-bottom">
	<div class="container">
		<div class="">
			<div class="card card-custom container">
				<div class="row text-left">
					<div class="col-lg-12 text-center">
						<h2>Click on <em>Saved Articles</em> to see your Articles!</h2>
					</div>		
				</div>
			</div>
      </div>
	</div>
</div>