<div class="card card-inverse card-primary container">
		<div class="row text-left">
			<div class="col-lg-8">
				{{id}}
				<br>
				{{title}}
			</div>
			<div class="col-lg-2">
				<button id="note-article" class="btn btn-info">Note</button>
			</div>	
            <div class="col-lg-2">
				<button id="delete-article" class="btn btn-danger">Delete</button>
			</div>	
		</div>
</div>