<div class="card card-inverse card-primary container">
		<div class="row text-left">
			<div class="col-lg-10">
				{{title}}
				<br>
				<a href="{{link}}">{{link}}</a>
			</div>
			<div class="col-lg-2">
				<button id="save-article" class="btn btn-success" data="{{id}}">Save Article</button>
			</div>		
		</div>
</div>