<div class="articles fixed-bottom">
	<div class="container">
		<div class="">
			<div class="card card-custom container">
				<div class="row text-left">
					<div class="col-lg-12 text-center">
						<h2 class="col-lg-12">To see Your Scraped Articles</h2>
						<h2 class="col-lg-12"><a href="/scraped" class="btn btn-success active col-lg-2">Click Here!</a></h2>
					</div>		
				</div>
			</div>
      </div>
	</div>
</div>